.bg-image-intre {
    background-image: url("../img/video-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
}
.food-img{
    width: 100%;
    height: 259px;
    object-fit: cover;
    border-radius: 3px;
}
.food-img2{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 3px;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.bg-image-intre0 {
    background-image: url("../img/contact-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    padding-bottom: 150px;
}
.bg-image-between {
    background-image: url("../img/video-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-image-between2 {
    background-image: url("../img/video-bg.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(228, 222, 222, 0.274);
}

a.hover-1 {
    position: relative;
    color: white!important;
}

a.hover-1:hover {
    color: red!important;
}
.card {
    cursor: pointer;
    transition: ease 0.5s;
}
.card:hover {
    transform: translateY(-15px);
}
.card1 {
    cursor: pointer;
    transition: ease 0.7s;
}
.card1:hover {
    transform: translateY(-10px);
}
